In [ ]:
import numpy as np
import pandas as pd
import math

In [ ]:
df = pd.read_csv("User_Data.csv")

In [ ]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [ ]:
df.shape

(400, 5)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          400 non-null    int64
 1   Gender           400 non-null    object
 2   Age              400 non-null    int64
 3   EstimatedSalary  400 non-null    int64
 4   Purchased        400 non-null    int64
dtypes: int64(4), object(1)
memory usage: 15.8+ KB

In [ ]:
df.describe()

            User ID         Age  EstimatedSalary   Purchased
count  4.000000e+02  400.000000       400.000000  400.000000
mean   1.569154e+07   37.655000     69742.500000    0.357500
std    7.165832e+04   10.482877     34096.960282    0.479864
min    1.556669e+07   18.000000     15000.000000    0.000000
25%    1.562676e+07   29.750000     43000.000000    0.000000
50%    1.569434e+07   37.000000     70000.000000    0.000000
75%    1.575036e+07   46.000000     88000.000000    1.000000
max    1.581524e+07   60.000000    150000.000000    1.000000

In [ ]:
df.columns

Index(['User ID', 'Gender', 'Age', 'EstimatedSalary', 'Purchased'], dtype='object')

In [ ]:
df['Age'].describe()

count    400.000000
mean      37.655000
std       10.482877
min       18.000000
25%       29.750000
50%       37.000000
75%       46.000000
max       60.000000
Name: Age, dtype: float64

In [ ]:
df['Age'].mean()

37.655

In [ ]:
sorted = df['Age'].sort_values()
print(sorted)

76     18
165    18
51     18
14     18
141    18
       ..
393    60
370    60
223    60
355    60
371    60
Name: Age, Length: 400, dtype: int64

In [ ]:
sorted.median()

37.0

In [ ]:
df['Age'].mode()

0    35
Name: Age, dtype: int64

In [ ]:
df['EstimatedSalary'].describe()

count       400.000000
mean      69742.500000
std       34096.960282
min       15000.000000
25%       43000.000000
50%       70000.000000
75%       88000.000000
max      150000.000000
Name: EstimatedSalary, dtype: float64

In [ ]:
def calculate_stat_values(df):
  Stat_data = {}
  indexes = ['mean', 'median', 'minimum', 'maximum', 'standard deviation', 'variance', '25% percentile', '50% percentile', '75% percentile']
  for column in df.columns:
    try:
      columnConvertedValues = pd.to_numeric(df[column])
      mean = df[column].mean()
      median = df[column].median()
      min = df[column].min()
      max = df[column].max()
      std = df[column].std()
      var = df[column].var()
      per_25 = np.percentile(df[column], 25)
      per_50 = np.percentile(df[column], 50)
      per_75 = np.percentile(df[column], 75)
      Stat_data[column] = [mean, median, min, max, std, var, per_25, per_50, per_75]
    except ValueError:
      pass
  stat = pd.DataFrame(Stat_data, index = indexes)
  return stat

In [ ]:
calculate_stat_values(df)

                         User ID         Age  EstimatedSalary  Purchased
mean                1.569154e+07   37.655000     6.974250e+04   0.357500
median              1.569434e+07   37.000000     7.000000e+04   0.000000
minimum             1.556669e+07   18.000000     1.500000e+04   0.000000
maximum             1.581524e+07   60.000000     1.500000e+05   1.000000
standard deviation  7.165832e+04   10.482877     3.409696e+04   0.479864
variance            5.134915e+09  109.890702     1.162603e+09   0.230269
25% percentile      1.562676e+07   29.750000     4.300000e+04   0.000000
50% percentile      1.569434e+07   37.000000     7.000000e+04   0.000000
75% percentile      1.575036e+07   46.000000     8.800000e+04   1.000000

# Summary Statistics grouped by Gender:Male

In [ ]:
df[df['Gender']=='Male']['EstimatedSalary'].describe()

count       196.000000
mean      67642.857143
std       32421.819181
min       15000.000000
25%       43000.000000
50%       68000.000000
75%       86000.000000
max      150000.000000
Name: EstimatedSalary, dtype: float64

In [ ]:
calculate_stat_values(df[df['Gender']=='Male'])

                         User ID         Age  EstimatedSalary  Purchased
mean                1.568970e+07   36.867347     6.764286e+04   0.336735
median              1.568959e+07   36.500000     6.800000e+04   0.000000
minimum             1.557093e+07   18.000000     1.500000e+04   0.000000
maximum             1.581482e+07   60.000000     1.500000e+05   1.000000
standard deviation  7.034618e+04   10.043636     3.242182e+04   0.473804
variance            4.948585e+09  100.874621     1.051174e+09   0.224490
25% percentile      1.562820e+07   29.000000     4.300000e+04   0.000000
50% percentile      1.568959e+07   36.500000     6.800000e+04   0.000000
75% percentile      1.574434e+07   42.000000     8.600000e+04   1.000000

# Summary Statistics grouped by Gender:Female

In [ ]:
df[df['Gender']=='Female']['EstimatedSalary'].describe()

count       204.000000
mean      71759.803922
std       35595.236189
min       15000.000000
25%       44000.000000
50%       70500.000000
75%       90750.000000
max      150000.000000
Name: EstimatedSalary, dtype: float64

In [ ]:
calculate_stat_values(df[df['Gender']=='Female'])

                         User ID         Age  EstimatedSalary  Purchased
mean                1.569331e+07   38.411765     7.175980e+04   0.377451
median              1.569525e+07   37.500000     7.050000e+04   0.000000
minimum             1.556669e+07   18.000000     1.500000e+04   0.000000
maximum             1.581524e+07   60.000000     1.500000e+05   1.000000
standard deviation  7.302577e+04   10.859019     3.559524e+04   0.485942
variance            5.332763e+09  117.918285     1.267021e+09   0.236139
25% percentile      1.562427e+07   30.000000     4.400000e+04   0.000000
50% percentile      1.569525e+07   37.500000     7.050000e+04   0.000000
75% percentile      1.575799e+07   47.000000     9.075000e+04   1.000000

In [ ]:
df[df['Gender']=='Male']['EstimatedSalary'].mean()

67642.85714285714

In [ ]:
df[df['Gender']=='Male']['EstimatedSalary'].median()

68000.0

In [ ]:
df[df['Gender']=='Male']['EstimatedSalary'].mode()

0    79000
Name: EstimatedSalary, dtype: int64

# Iris

In [ ]:
df1 = pd.read_csv('IRIS.csv')

In [ ]:
df1.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [ ]:
df1['species'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [ ]:
def calculate_stat_values(df1):
  Stat_data = {}
  indexes = ['mean', 'median', 'minimum', 'maximum', 'standard deviation', 'variance', '25% percentile', '50% percentile', '75% percentile']
  for column in df1.columns:
    try:
      columnConvertedValues = pd.to_numeric(df1[column])
      mean = df1[column].mean()
      median = df1[column].median()
      min = df1[column].min()
      max = df1[column].max()
      std = df1[column].std()
      var = df1[column].var()
      per_25 = np.percentile(df1[column], 25)
      per_50 = np.percentile(df1[column], 50)
      per_75 = np.percentile(df1[column], 75)
      Stat_data[column] = [mean, median, min, max, std, var, per_25, per_50, per_75]
    except ValueError:
      pass
  stat = pd.DataFrame(Stat_data, index = indexes)
  return stat

In [ ]:
calculate_stat_values(df1)

                    sepal_length  sepal_width  petal_length  petal_width
mean                    5.843333     3.054000      3.758667     1.198667
median                  5.800000     3.000000      4.350000     1.300000
minimum                 4.300000     2.000000      1.000000     0.100000
maximum                 7.900000     4.400000      6.900000     2.500000
standard deviation      0.828066     0.433594      1.764420     0.763161
variance                0.685694     0.188004      3.113179     0.582414
25% percentile          5.100000     2.800000      1.600000     0.300000
50% percentile          5.800000     3.000000      4.350000     1.300000
75% percentile          6.400000     3.300000      5.100000     1.800000

In [ ]:
calculate_stat_values(df1[df1['species']=='Iris-setosa'])

                    sepal_length  sepal_width  petal_length  petal_width
mean                    5.006000     3.418000      1.464000     0.244000
median                  5.000000     3.400000      1.500000     0.200000
minimum                 4.300000     2.300000      1.000000     0.100000
maximum                 5.800000     4.400000      1.900000     0.600000
standard deviation      0.352490     0.381024      0.173511     0.107210
variance                0.124249     0.145180      0.030106     0.011494
25% percentile          4.800000     3.125000      1.400000     0.200000
50% percentile          5.000000     3.400000      1.500000     0.200000
75% percentile          5.200000     3.675000      1.575000     0.300000

In [ ]:
calculate_stat_values(df1[df1['species']=='Iris-versicolor'])

                    sepal_length  sepal_width  petal_length  petal_width
mean                    5.936000     2.770000      4.260000     1.326000
median                  5.900000     2.800000      4.350000     1.300000
minimum                 4.900000     2.000000      3.000000     1.000000
maximum                 7.000000     3.400000      5.100000     1.800000
standard deviation      0.516171     0.313798      0.469911     0.197753
variance                0.266433     0.098469      0.220816     0.039106
25% percentile          5.600000     2.525000      4.000000     1.200000
50% percentile          5.900000     2.800000      4.350000     1.300000
75% percentile          6.300000     3.000000      4.600000     1.500000

In [ ]:
calculate_stat_values(df1[df1['species']=='Iris-virginica'])

                    sepal_length  sepal_width  petal_length  petal_width
mean                    6.588000     2.974000      5.552000     2.026000
median                  6.500000     3.000000      5.550000     2.000000
minimum                 4.900000     2.200000      4.500000     1.400000
maximum                 7.900000     3.800000      6.900000     2.500000
standard deviation      0.635880     0.322497      0.551895     0.274650
variance                0.404343     0.104004      0.304588     0.075433
25% percentile          6.225000     2.800000      5.100000     1.800000
50% percentile          6.500000     3.000000      5.550000     2.000000
75% percentile          6.900000     3.175000      5.875000     2.300000